target
.idea/
test_site/public
test_site_i18n/public
docs/public

small-blog
medium-blog
big-blog
huge-blog
extra-huge-blog
small-kb
medium-kb
huge-kb

current.bench
now.bench
*.zst

# snapcraft artifacts
snap/.snapcraft
parts
prime
stage

# nixos dependencies snippet
shell.nix
# vim temporary files
**/.*.sw*
.swp
