target
.idea/
test_site/public
test_site_i18n/public
docs/public

small-blog
medium-blog
big-blog
huge-blog
small-kb
medium-kb
huge-kb

current.bench
now.bench

# snapcraft artifacts
snap/.snapcraft
parts
prime
stage
