{% extends "index.html" %}

{% block content %}
    {% for page in paginator.pages %}
        {{page.title}}
    {% endfor %}
    {% for pager in paginator.pagers %}
        {{pager.index}}: {{pager.path | safe }}
    {% endfor %}
    Num pagers: {{ paginator.pagers | length }}
    Page size: {{ paginator.paginate_by }}
    Current index: {{ paginator.current_index }}
    First: {{ paginator.first | safe }}
    Last: {{ paginator.last | safe }}
    {% if paginator.previous %}has_prev{% endif%}
    {% if paginator.next %}has_next{% endif%}
{% endblock content %}
