[package]
name = "console"
version = "0.1.0"
edition = "2024"

[dependencies]
anstream = { workspace = true }
anstyle = { workspace = true }
once_cell = { workspace = true }

errors = { workspace = true }
