<div {% if class %}class="{{class}}"{% endif %}>
    <iframe
        src="https://player.twitch.tv/?channel={{channel}}" 
        frameborder="0" 
        allowfullscreen="true"
        height="{% if videoHeight %}{{videoHeight}}{% endif %}"
        width="{% if videoWidth %}{{videoWidth}}{% endif %}">  
    </iframe>
    
    <iframe 
        src="https://www.twitch.tv/{{channel}}/chat?popout=" 
        frameborder="0" 
        scrolling="no" 
        height="{% if chatHeight %}{{chatHeight}}{% endif %}" 
        width="{% if chatWidth %}{{chatWidth}}{% endif %}">
    </iframe>
</div>