<html>
    <head>
        <title>Gutenberg</title>
    </head>
    <body>
        <div class="container">
            <h1>Hello from gutenberg!</h1>
            <p>
                To modify this page, create a index.html file in the templates directory. 
                More information on how to use gutenberg can be found in the <a href="https://www.getgutenberg.io/documentation/getting-started/installation/" target="_blank">Documentation</a>
            </p>
        </div>
        <style>
            .container {
                font-family: "sans-serif";
                text-align: center;
                padding-top: 30vh;
            }
        </style>
    </body>
</html>