<html>
    <head>
        <title>Gutenberg</title>
    </head>
    <body>
        <div class="container">
            <h1>Hello from Gutenberg!</h1>
            <p>
                To modify this page, create a index.html file in the templates directory.
                Documentation can be found at <a href="https://www.getgutenberg.io/documentation/content/page/" target="_blank">documentation</a>.
            </p>
        </div>
        <style>
            .container {
                font-family: "sans-serif";
                text-align: center;
                padding-top: 30vh;
            }
        </style>
    </body>
</html>
