header {
  .header__logo {
    border-bottom: none;
  }

  ul {
    padding-inline-start: 0;
    display: flex;
    gap: 1ch 2rem;
    margin: 0;
  }

  li {
    list-style: none;
  }

  .header__logo {
    font-size: 2rem;
    font-weight: bold;

    &:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width: 1000px) {
  header {
    padding: 1rem 0;

    nav {
      text-align: center;
    }

    .header__logo {
      // to force menu links to be on a line below
      text-align: center;
      width: 100%;
    }
  }
}
