@charset "utf-8";

@import "normalize";

*, *:before, *:after {
  box-sizing: border-box;
}

$background: #191919;
$foreground: white;
$link-color: #007CBC;

@import "base";
@import "layout";
@import "header";
@import "index";
@import "docs";
@import "themes";
@import "search";

//@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
//@import url("syntax-theme-light.css") (prefers-color-scheme: light);
