[package]
name = "config"
version = "0.1.0"
edition = "2021"
include = ["src/**/*"]

[dependencies]
serde = {version = "1.0", features = ["derive"] }

errors = { path = "../errors" }
utils = { path = "../utils" }
libs = { path = "../libs" }
