name: Build and deploy GH Pages

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.ref != 'refs/heads/master'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build
        uses: shalzz/zola-deploy-action@v0.19.2
        env:
          BUILD_DIR: docs/
          BUILD_ONLY: true
          
  build_and_deploy:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: build_and_deploy
        uses: shalzz/zola-deploy-action@v0.19.2
        env:
          PAGES_BRANCH: gh-pages
          BUILD_DIR: docs/
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
